<div class="wrap">
  <form action="/" method="get">
    <input type="text" name="q" value="{{query}}" placeholder="search media...">
    <button type="submit">Search</button>
  </form>

  {{#if results.length}}
  <ul>
    {{#each results}}
    <li>
      <a href="https://reddit.com/u/{{author}}" target="their-bid">{{author}}</a>:
      <a href="https://reddit.com{{permalink}}" target="their-bid">Link</a>
      {{date}}
      {{body}}
    </li>
    {{/each}}
  </ul>
  {{/if}}
</div>
